# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
app-bundle.min.js
app-bundle.min.js.map
app-compiled-scss.min.css
app-compiled-scss.min.css.map
npm-debug.log

# Don't ignore the files below

!platforms/android/AndroidManifest.xml
