<ion-view view-title="Goal: {{ data.name }}">

			<ion-item class="item-thumbnail-left item item-stable item-with-margin">
				<img src={{data.url}}>
				<h1 class="title ng-binding">{{data.name}}</h1>
			</ion-item>
      <ion-tabs class="tabs-clear tabs-top tabs-striped relative no-border">
          <ion-tab title="Movements" has-header>
            <ion-content class="item" padding="false" has-tabs>
							List of fb pages. Use ng-repzeat in list.
							<ion-list class="list" ng-repeat="page in tabs.fbPages">
								<ion-item>
								</ion-item>
							</ion-list>
            </ion-content>
          </ion-tab>
          <ion-tab title="Charities" has-header>
            <ion-content class="item" padding="false" has-tabs>
              List of kickstarter charities. Use ng-repeat in list.
							<ion-list class="list" ng-repeat="charity in tabs.kickstarterCharities">
								<ion-item class="item card charity-item">
								</ion-item>
							</ion-list>
            </ion-content>
          </ion-tab>
          <ion-tab title="Applications" has-header>
            <ion-content class="item" padding="false" has-tabs>
            <!-- List of play store/appstore apps. Use ng-repeat in list. -->
							<ion-list id="app-list" class="list" ng-repeat="app in tabs.playStoreApps">
								<div class="card">
								  <div class="item">
										<a href="{{ app.url }}" target="__blank">
											<div class="item item-avatar">
								    		<img class="app-icon" src="{{ app.icon }}">
												<h2 class="app-title">
													{{ app.title }}
												</h2>
												<h4 class="app-id">
													{{ app.id }}
												</h4>
											</div>
										</a>
										<div class="item item-body">
											Summary: {{ app.summary }}
										</div>
									</div>
								</div>
							</ion-list>
            </ion-content>
          </ion-tab>
          <ion-tab title="Community" has-header>

            <ion-content class="item" padding="false" has-tabs>
							<div class="circular-progress">
								<div class="percent-circular">41%</div>
							</div>
              <!-- List of community feats. Use ng-repeat in list. -->
							<ion-list class="list" ng-repeat="feat in tabs.communityFeats">
									<div class="row feat-row">
										<b class="feat-label col col-20">{{ feat.index }}</b>
										<div class="feat-description col col-80">

											<div>{{ feat.description }}</div>
											<div class="feat-progress">
												<div class="progress-inner" style="width: {{ feat.progress }}%">
													{{ feat.progress }}%
												</div>
										</div>

									</div>
							</ion-list>
            </ion-content>
          </ion-tab>
        </ion-tabs>


	<!-- <div class="current-description">
        <h1>{{ data.name }}</h1>
      </div> -->
</ion-view>
