<ion-view view-title="Home">
  <ion-content style="overflow: scroll;">
    <div id="home-content-area">
      <div class="tiles list" ng-repeat="tile in tiles">

        <div
          ng-class="tile.getClass()"
          class="tile balanced-bg tile-image"
          style="background-image: url({{ tile.url }})"
          ng-click="tile.click()">
        </div>

      </div>

      <div class="current-description" ng-show="current != null">
        <h1>ZERO DARK THIRTY</h1>
      </div>

      <div ng-show="current != null" class="tile-tabs">


        <div>
          <div class="item item-divider" style="margin-left: 5%; margin-right: 5%;">
            <button class="button button-assertive">
              Subscribe
            </button>
          </div>
        </div>

        <div class="row">

            <div class="col col-25">
              <div class="tile positive-bg">
                <h1>Tangina</h1>
              </div>
            </div>

            <div class="col col-25">
              <div class="tile positive-bg">
                <h1>Tangina</h1>
              </div>
            </div>

            <div class="col col-25">
              <div class="tile positive-bg">
                <h1>Tangina</h1>
              </div>
            </div>

          <div class="col col-25">
            <div class="tile positive-bg">
              <h1>Tangina</h1>
            </div>
          </div>

      </div>

    </div>

    </div>
  </ion-content>
</ion-view>
