#home-content-area {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  align-items: center;
  text-align: center;
  margin: 2% auto !important;
}

#fake-street {
  width: 100%;
  height: auto;
  display: block;

}

h1 {
  font-family: "Montserrat", sans-serif;
}

.tile-tabs.col {
  height: 400px;
}

#landing-page-content {
  background-image: url("../img/landing-bg.jpg");
  opacity: 0.6;
}

.current-description {
  display:inline-block;
  text-align: center;
  vertical-align: top;
}


@media (orientation: landscape){
  #landing-page-row {
    display: block;
    margin: 30%;
  }
}

/*-- Side Menu CSS --*/
.darkSide {
background-color: rgba(33,37,43,1);
color:#333333;
}

.darkSide .item {
border:none;
color:#fff;
font-size:15px;
}

.darkSide .item-complex .item-content,.darkSide .item-radio .item-content {
background-color: rgba(33,37,43,1);
}

.text-light{
color: #FFF !important;
}

.tile-double {
  height: 200px;
}
.tile-icon {
  padding: 0;
  text-align: center;
  font-size: 40px;
  line-height: 100px;
}
.tile-title {
  position: relative;
  text-align: center;
  height: 100%;
}
.tile-title > h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  margin: 0;
}
.tile-image {
  text-shadow: 1px 1px 0 #000;
  background-size: cover;
  background-position: bottom;
}

@media (min-width: 432px) {
  .tile {
    -webkit-transition: all linear .5s;
    transition: all linear .5s;
  }
}
